// images des pages ok et non
.img-ok {
    width: 20rem;
    @media screen and (max-width:340px) {
        width: 15rem;
    }
    @media screen and (max-width:260px) {
        width: 10rem;
    }
}

.img-non {
    width: 10rem;
}

// titre2 des pages
.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre > h2 {
    text-align: center;
}

.titre-ok, .titre-non, .titre-geste {
    margin-top: -20px;
    font-size: 25px;
    @media screen and (max-width:600px) {
        font-size: 20px;
        text-align: center;
    }
}

// div cercles pages ok et non
.oui, .non {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    @media screen and (max-width:340px) {
        margin-top: 50px;
    }
}

.cercle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 100px;
}

.ok {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 25%;
    margin: 30px;
    @media screen and (max-width:1080px) {
        width: 35%;
        margin: 20px;
    }
    @media screen and (max-width:750px) {
        width: 70%;
    }
    @media screen and (max-width:560px) {
        width: 85%;
    }
}

// images pages ok et non
.image-ok {
    width: 100px;
    @media screen and (max-width:340px) {
        width: 70px;
    }
}

// div étape page gestes
.etape {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: center;
    align-items: center;
    @media screen and (max-width:450px) {
        flex-direction: column;
    }
}

// numéros encerclés page gestes
.num {
    border-radius: 100%;
    background-color: seagreen;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
    @media screen and (max-width:450px) {
        margin-right: 0;
    }
}

// div description page gestes
.des {
    width: 60%;
    background-color: seagreen;
    border-radius: 30px;
    margin-left: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
    @media screen and (max-width:450px) {
        margin-left: 0;
        font-size: 17px;
        width: 80%;
    }
    @media screen and (max-width:340px) {
        font-size: 15px;
    }
}

