@keyframes gros {
    0% {
        scale: 0.9;
    }
    50% {
        scale: 1.1;
    }
    0% {
        scale: 0.9;
    }
}

@keyframes tourne {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 360deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes alterne {
    0% {
        rotate: 0deg;
    }
    5% {
        rotate: 10deg;
    }
    15% {
        rotate: -10deg;
    }
    25% {
        rotate: 10deg;
    }
    35% {
        rotate: -10deg;
    }
    45% {
        rotate: 10deg;
    }
    55% {
        rotate: -10deg;
    }
    65% {
        rotate: 10deg;
    }
    75% {
        rotate: -10deg;
    }
    85% {
        rotate: 10deg;
    }
    95% {
        rotate: -10deg;
    }
    // 100% {
    //     rotate: 0deg;
    // }
}

@keyframes bouge {
    0% {
        margin-left: -15px;
    }
    25% {
        margin-left: 15px;
    }
    50% {
        margin-left: -15px;
    }
    75% {
        margin-left: 15px;
    }
    100% {
        margin-left: -15px;
    }
}

@keyframes pailleTranslate {
    0% {
        top: -400px;
        right: 0;
    }
    100% {
        top: -340px;
        right: 400px;
    }
}

@keyframes pailleMobile {
    0% {
        top: -590px;
        left: 0;
    }
    100% {
        top: -370px;
        left: 30px;
    }
}

@keyframes trognonTranslate {
    0% {
        top: -400px;
        left: -100px;
    }
    100% {
        top: -360px;
        left: 300px;
    }
}

@keyframes trognonMobile {
    0% {
        top: -520px;
        left: 330px;
    }
    100% {
        top: -370px;
        left: 210px;
    }
}


@keyframes cafeTranslate {
    0% {
        top: -100px;
        right: -50px;
    }
    100% {
        top: -340px;
        right: 340px;
    }
}

@keyframes cafeMobile {
    0% {
        top: -590px;
        left: 240px;
    }
    100% {
        top: -370px;
        left: 230px;
    }
}

@keyframes bananeTranslate {
    0% {
        top: -250px;
        left: 50px;
    }
    100% {
        top: -340px;
        left: 250px;
    }
}

@keyframes bananeTab {
    0% {
        top: -250px;
        left: -10px;
    }
    100% {
        top: -340px;
        left: 250px;
    }
}

@keyframes bananeMobile {
    0% {
        top: -520px;
        left: 240px;
    }
    100% {
        top: -370px;
        left: 100px;
    }
}

@keyframes orangeTranslate {
    0% {
        top: -100px;
        left: -50px;
    }
    100% {
        top: -340px;
        left: 340px;
    }
}

@keyframes orangeMobile {
    0% {
        top: -520px;
        left: 160px;
    }
    100% {
        top: -370px;
        left: 180px;
    }
}

@keyframes oeufTranslate {
    0% {
        top: -300px;
        right: -100px;
    }
    100% {
        top: -340px;
        right: 340px;
    }
}

@keyframes oeufMobile {
    0% {
        top: -590px;
        left: 80px;
    }
    100% {
        top: -370px;
        left: 40px;
    }
}

@keyframes poissonTranslate {
    0% {
        top: -200px;
        left: -100px;
    }
    100% {
        top: -340px;
        left: 200px;
    }
}

@keyframes poissonMobile {
    0%{
        top: -520px;
        left: 80px;
    }
    100%{
        top: -370px;
        left: 100px;
    }
}

@keyframes cartonTranslate {
    0% {
        top: -200px;
        right: -100px;
    }
    100% {
        top: -340px;
        right: 300px;
    }
}

@keyframes cartonMobile {
    0%{
        top: -590px;
        left: 160px;
    }
    100%{
        top: -370px;
        left: 120px;
    }
}

@keyframes saladeTranslate {
    0% {
        top: -300px;
        left: -100px;
    }
    100% {
        top: -350px;
        left: 250px;
    }
}

@keyframes saladeMobile {
    0% {
        top: -520px;
        left: 0;
    }
    100% {
        top: -370px;
        left: 80px;
    }
}

@keyframes carton2Translate {
    0% {
        top: -250px;
        right: 50px;
    }
    100% {
        top: -350px;
        right: 350px;
    }
}

@keyframes carton2Tab {
    0% {
        top: -250px;
        right: 30px;
    }
    100% {
        top: -350px;
        right: 350px;
    }
}

@keyframes carton2Mobile {
    0% {
        top: -590px;
        left: 330px;
    }
    100% {
        top: -370px;
        left: 170px;
    }
}

@keyframes flecheMenu {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}