// header
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width:730px) {
        flex-direction: column;
    }
}

.div-header-border {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 98%;
    border-bottom: black solid 3px;
    @media screen and(max-width:600px) {
        flex-direction: column;
    }
}

.disposition-titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.img-header {
    width: 5%;
}

.logo-header {
    width: 200px;
    @media screen and (max-width:714px) {
        width: 170px;
    }
    @media screen and (max-width:600px) {
        width: 130px;
    }
}

.titre-header {
    font-family: 'Aleo', serif;
    font-size: 50px;
    color: black;
    text-align: right;
    width: 70%;
    margin-bottom: 0;
    @media screen and(max-width:800px) {
        font-size: 42px;
    }
    @media screen and (max-width:600px) {
        width: 100%;
        margin-left: 0px;
        font-size: 35px;
    }
    @media screen and (max-width:340px) {
        font-size: 25px;
    }
}

.fleche {
    width: 50px;
    height: 50px;
    @media screen and (max-width:600px) {
        padding-right: 20px;
        width: 35px;
        height: 35px;
    }
    @media screen and (max-width:340px) {
        width: 25px;
        height: 25px;
    }
}

.image-header {
    width: 5rem;
    margin-left: 50px;
    margin-right: 50px;
    @media screen and (max-width:730px) {
        display: none;
    }
}

.img-media-query {
    display: none;
    @media screen and (max-width:730px) {
        display: block;
        display: flex;
        flex-direction: row;
    }
}

.img-header-media {
    width: 5rem;
    margin-left: 50px;
    margin-right: 50px;
    @media screen and (max-width:730px) {
        margin: 0;
    }
}

#bouton {
    display: none;
    align-self: flex-start;
    width: 35px;
    margin-left: 25px;
    @media screen and(max-width:600px) {
        margin-top: -220px;
        margin-bottom: 170px;
    }
    @media screen and(max-width:340px) {
        margin-top: -185px;
        margin-bottom: 170px;
    }
}

#bouton > button {
    font-size: 20px;
    margin-top: 30px;
    background-color: rgba(0, 128, 0, 0.041);
    border-radius: 30%;
    border: black solid 2px;
    cursor: pointer;
}

.nav
{
    position: relative;
    width: 100%;
    padding-top: 10px;
    background-color: white;
    margin-top: 0;
    z-index: 100000000;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    background-color: white;
    margin-top: 0;
}

nav ul li
{
    float:left;
    text-align: center;
    position: relative;
    background-color: white;
    position: sticky;
    @media screen and (max-width: 900px) {
        width: 20%;
    }
}

nav ul ::after
{
    content:"";
    display: table;
    clear: both;
}

nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover
{
    color: green;
    border-bottom: 2px solid green;
}

.sous
{
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

// nav > ul li:hover .sous
// {
//     display: block;
//     @media screen and(max-width:800px) {
//         display: none;
//     }
// }

.sous li
{
    float: none;
    width: 90%;
    text-align: left;
}

.sous a
{
    padding: 10px;
    border-bottom: none;
    width: 90%;
}

.sous a:hover
{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after
{
    content:" ▼";
    font-size: 12px;
}


@media screen and (max-width:800px) {
    #bouton {
        display: block;
        display: flex;
        justify-content: flex-start;
        width: 90%;
        cursor: pointer;
        z-index: 10000000000;
    }
    #display {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        border-radius: 20px;
    }
    .nav ul {
        margin: 0;
    }
    .nav ul li {
        text-align: start;
        width: 300px;
        background-color: rgba(0, 128, 0, 0.041);
    }
    .nav {
        display: none;
        width: 300px;
        margin-top: 40px;
        position: absolute;
        top: 200px;
        left: 30px;
        border-radius: 30px;
    }
    .nav a {
        padding: 10px;
        width: 92%;
    }
    .sous {
        display: block;
        position: relative;
        box-shadow: unset;
        padding: 0;
    }
    // #sous > .affichage-mobile-padding {
    //     padding-left: 0;
    // }
    .sous a {
        padding: 5px;
        padding-left: 15px;
        font-size: 15.5px;
    }
    .element1 {
        padding-top: 10px;
    }
    .border-top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .border-bottom {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.nav {
    @media screen and (max-width:728px) {
        margin-top: 40px;
    }
    @media screen and (max-width:683px) {
        width: 30%;
    }
    @media screen and (max-width:601px) {
        left: 22px;
        margin-top: -120px;
    }
    @media screen and (max-width:569px) {
        width: 35%;
    }
}

@media screen and (max-width:490px) {
    .nav {
        left: 20px;
        width: 200px;
    }
    .nav ul li {
        width: 200px;
    }
    #display {
        width: 200px;
    }
}

.fleche-menu-anim {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: transform 500ms;
    margin-left: 7px;
    @media screen and(max-width:800px) {
        transform: rotate(90deg);
        transition: none;
    }
}

.contain-fleche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and(max-width:800px) {
        justify-content: flex-start;
    }
}

// .contain-fleche:hover .fleche-menu-anim {
//     transform: rotate(180deg);
//     @media screen and(max-width:800px) {
//         transform: none;
//     }
// }

.fleche-menu-anim {
    @media screen and(max-width:800px) {
        transform: rotate(90deg);
        animation: flecheMenu 500ms;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }
}


@media screen and(max-width: 800px) {
    .sousQuizz, .sousInfos {
        display: none;
    }
}

// .nav {
//     @media screen and(max-width:468px) {
//         margin-top: 100px;
//     }
//     @media screen and (max-width:417.5px) {
//         margin-top: 100px;
//     }
//     @media screen and (max-width:340px) {
//         margin-top: 50px;
//     }
// }


// footer
.cache {
    display: none;
    @media screen and (max-width:620px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    @media screen and (max-width:500px) {
        flex-direction: column-reverse;
    }
}

.cache > div {
    @media screen and (max-width:620px) {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}

.cache > div > p {
    text-align: center;
}

.cache2 {
    @media screen and (max-width:620px) {
        display: none;
    }
}


#footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    border-top: 3px black solid;
    font-family: "Aleo", serif;
    background-color: seagreen;
    @media screen and (max-width:620px) {
        flex-direction: column;
        align-items: center;
    }
}

#footer > div > p {
    margin: 0;
}

.footer-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-paragraph > p {
    text-align: center;
    color: white;
}

.footer-paragraph > a {
    text-align: center;
    text-decoration: underline;
    color: black;
    scale: 0.9;
    transition-duration: 200ms;
    color: white;
    @media screen and (max-width:800px) {
        padding: 7px;
    }
}

.footer-paragraph > a:hover {
    font-weight: 600;
    scale: 1;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-div-titre > h4 {
    font-size: 20px;
    text-align: center;
    color: white;
}



.img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.image-compost {
    width: 12rem;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;

}

.contact {
    display: flex;
    justify-content: center;
    @media screen and (max-width:650px) {
        flex-direction: column;
        align-items: center;
    }
}

.logo-fb, .logo-mail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border-radius: 30px;
}

.mail, .fb {
    display: flex;
    width: 50%;
    align-items: center;
    text-decoration: none;
    color: black;
    @media screen and (max-width:650px) {
        width: 90%;
    }
    @media screen and (max-width:315px) {
        flex-direction: column;
        font-size: 10px;
    }
}

.fb {
    justify-content: flex-end;
    margin-right: 20px;
    @media screen and (max-width:650px) {
        margin-right: 0;
        justify-content: center;
    }
}

.mail {
    justify-content: flex-start;
    margin-left: 20px;
    @media screen and (max-width:650px) {
        margin-left: 0;
        justify-content: center;
    }
}

.p-footer {
    text-decoration: underline;
}

@media screen and(max-width:600px) {
    .div-header-border {
        flex-direction: column;
        align-items: center;
    }
    .titre-header {
        text-align: center;
    }
}