// index section
#content1 {
    display: flex;
    align-items: center;
    margin-top: 100px;
    @media screen and (max-width:890px) {
        flex-direction: column;
        margin-top: 50px;
    }
}

#content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width:890px) {
        flex-direction: column;
    }
}

#content3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.text-welcome {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    // background-color: darkseagreen;
    &-title {
        font-size: 28px;
        text-align: center;
    }
    &-paragraph {
        font-size: 19px;
        font-weight: 600;
        text-align: center
    }
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        &-item {
            font-size: 19px;
            padding: 10px;
            border: green 1px solid;
            border-radius: 20px;
            margin: 10px;
            text-align: center;
            transition-duration: 400ms;
            cursor: pointer;
            font-weight: 600;
            width: 40%;
            scale: 0.9;
            text-decoration: none;
            color: black;
            &:hover {
                box-shadow: black 1px 1px 7px;
                scale: 1;
                // background-color: green;
            }
        }
    }
}

#index-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

#index-img > img {
    width: 300px;
}

// index section div
.contenu {
    background-color: white;
    display: flex;
    width: 30%;
    margin: 70px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    box-shadow: black 1px 1px 7px;
    padding: 20px;
    @media screen and (max-width:1010px) {
        margin: 50px;
    }
    @media screen and (max-width:890px) {
        width: 60%;
        padding: 5px;
    }
}

.contenu2 {
    background-color: white;
    display: flex;
    width: 50%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    box-shadow: black 1px 1px 7px;
    padding: 20px;
    @media screen and (max-width:1010px) {
        margin: 50px;
    }
    @media screen and (max-width:890px) {
        width: 60%;
        padding: 5px;
    }
}

.utilisation {
    margin-left: 100px;
    @media screen and (max-width:890px) {
        margin-left: 50px;
    }
}

.betes {
    margin-right: 100px;
    @media screen and (max-width:890px) {
        margin-right: 50px;
    }
}

// index section div titre
.titre2 {
    text-align: center;
    color: green;
    font-size: 30px;
    @media screen and (max-width:890px) {
        margin-top: 0px;
    }
}

// index images et liens
.lien-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-accueil {
    width: 50px;
    height: 50px;
}

// page gestes 
.image-geste {
    width: 10rem;
}

.tuto {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 60px;
    @media screen and (max-width:950px) {
        flex-direction: column;
        align-items: center;
    }
}

.brasser, .verser {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: black solid;
    border-radius: 30px;
    padding: 10px;
    @media screen and (max-width:950px) {
        width: 80%;
    }
}

.verser > h3 {
    font-size: 25px;
    align-self: center;
}

.brasser > h3 {
    font-size: 25px;
    align-self: center;
}

.verser > p {
    margin-bottom: 50px;
    align-self: center;
}

.brasser > p {
    margin-bottom: 50px;
    align-self: center;
}

.num > p {
    margin-top: -1px;
    padding-top: 10px;
}

// page betes photos
.photo {
    width: 200px;
    height: 150px;
}

.photo-bete {
    width: 200px;
    height: 150px;
    border-radius: 30px;
}

// page betes paragraphes
.section-bete {
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width:950px) {
        padding-top: 30px;
    }
}

.bete {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
    margin: 30px;
    @media screen and (max-width:870px) {
        width: 90%;
    }
    @media screen and (max-width:580px) {
        flex-direction: column;
        align-items: center;
    }
}

.explication {
    width: 60%;
    margin-left: 20px;
    @media screen and (max-width:580px) {
        width: 80%;
        margin-left: 0;
        text-align: center;
    }
}

// page utilisation photos
#section-utilisation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.photo-utilisation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    @media screen and (max-width:500px) {
        flex-direction: column;
        align-items: center;
    }
}

.photo-utilisation-double {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    @media screen and (max-width:990px) {
        width: 30%;
        height: auto;
    }
    @media screen and (max-width:500px) {
        width: 60%;
    }
}

.photo-utilisation-seule {
    width: 40%;
    height: 300px;
    @media screen and (max-width:990px) {
        width: 30%;
    }
    @media screen and (max-width:500px) {
        width: 70%;
        display: contents;
    }
}

.photo3 {
    height: 560px;
    margin: 20px;
    border-radius: 30px;
    @media screen and (max-width:990px) {
        height: 440px;
    }
    @media screen and (max-width:880px) {
        height: 340px;
    }
    @media screen and (max-width:730px) {
        height: 240px;
    }
}

.photo1, .photo2 {
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    @media screen and (max-width:990px) {
        height: 200px;
    }
    @media screen and (max-width:880px) {
        height: 150px;
    }
    @media screen and (max-width:730px) {
        height: 100px;
    }
    @media screen and (max-width:500px) {
        height: 150px;
    }
    @media screen and (max-width:330px) {
        height: 100px;
    }
}

// page utilisation paragraphe
.utilisation-paragraphe {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 70%;
}

//page recherche
#content-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.paragraph-search > p {
    text-align: center;
}

.div-input-search {
    display: flex;
    flex-direction: row;
}

#button-search {
    cursor: pointer;
}

#search-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.indication {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indication > p {
    font-size: 20px;
}

.indication img {
    width: 30px;
    height: 30px;
}

#section-msg-error {
    padding-bottom: 60px;
    padding-top: 10px;
}

.msg-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.msg-error > p {
    text-align: center;
    color: red;
    font-weight: 600;
    margin: 5px;
}

.msg-error > p a {
    color: red;
    text-decoration: underline;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border: antiquewhite solid 3px;
    border-radius: 120px;
    padding: 20px;
}

.itemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    // border-radius: 100px;
}

.pContent {
    text-align: center;
    width: 80%;
}

//Contact
#contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
}

#contact-content > .titre {
    background-color: white;
}

.contact-perso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.contact-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.img-contact-equipe {
    display: flex;
    width: 150px;
    height: 150px;
    border: black 3px solid;
    border-radius: 100%;
}

.img-contact-equipe > img {
    width: 150px;
    object-fit: contain;
    border-radius: 100%;
}

.contact-equipe {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scale: 0.9;
    transition-duration: 200ms;
}

.contact-equipe:hover {
    scale: 1;
}

.p-contact {
    text-align: center;
}

.liens-contacts-pros {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.div-contact-pro {
    width: 33%;
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: green;
}

.liens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.div-liens-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-liens-contacts > a {
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.div-liens-contacts > a:hover {
    text-decoration: underline;
}


//page ok
#section-ok {
    padding-top: 30px;
}

//page intermédiaire oui/non
#section-compostable-med {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.compostable-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
}

.compostable, .non-compostable {
    border-radius: 30px;
    padding: 20px;
    background-color: antiquewhite;
}

.compostable > a:hover {
    text-decoration: underline;
}

.non-compostable > a:hover {
    text-decoration: underline;
}