// index section
#content1 {
    display: flex;
    align-items: center;
    margin-top: 100px;
    @media screen and (max-width:890px) {
        flex-direction: column;
        margin-top: 50px;
    }
}

#content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width:890px) {
        flex-direction: column;
    }
}

#content3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#content4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 60px;
    display: none;
    @media screen and (max-width:600px) {
        display: flex;
    }
}

.text-welcome {
    display: flex;
    flex-direction: column;
    width: 22%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    border: black solid 1px;
    margin: 7px;
    @media screen and (max-width:1100px) {
        width: 40%;
    }
    @media screen and (max-width:800px) {
        width: 70%;
    }
    &-img {
        width: 100px;
        scale: 0.9;
    }
    &-title {
        font-size: 28px;
        text-align: center;
    }
    &-paragraph {
        font-size: 19px;
        font-weight: 600;
        text-align: center
    }
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        &-item {
            font-size: 19px;
            padding: 10px;
            border: green 1px solid;
            border-radius: 20px;
            margin: 10px;
            text-align: center;
            transition-duration: 400ms;
            cursor: pointer;
            font-weight: 600;
            width: 40%;
            scale: 0.9;
            text-decoration: none;
            color: black;
            &:hover {
                box-shadow: black 1px 1px 7px;
                scale: 1;
                // background-color: green;
            }
            @media screen and (max-width:800px) {
                width: 60%;
            }
            @media screen and (max-width:540px) {
                width: 80%;
            }
        }
    }
}

.img-welcome {
    animation: gros 2s infinite;
}

.img-new {
    animation: tourne 2s infinite;
    
}

.img-lettre {
    animation: alterne 1s infinite;
}

.img-loupe {
    animation: bouge 1s infinite;
}

.welcome2 {
    width: 80%;
    @media screen and (max-width:800px) {
        width: 70%;
    }
}

.text-welcome > p {
    font-size: 18px;
    text-align: center;
}

#index-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
    flex-direction: column;
    @media screen and(max-width: 820px) {
        margin-top: 120px;
        padding-top: 0;
    }
    @media screen and(max-width: 600px) {
        display: none;
    }
}

#index-img > img {
    width: 400px;
}

// index section div
.contenu {
    background-color: white;
    display: flex;
    width: 30%;
    margin: 70px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    box-shadow: black 1px 1px 7px;
    padding: 20px;
    @media screen and (max-width:1010px) {
        margin: 50px;
    }
    @media screen and (max-width:890px) {
        width: 60%;
        padding: 5px;
    }
}

.contenu2 {
    background-color: white;
    display: flex;
    width: 50%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    box-shadow: black 1px 1px 7px;
    padding: 20px;
    @media screen and (max-width:1010px) {
        margin: 50px;
    }
    @media screen and (max-width:890px) {
        width: 60%;
        padding: 5px;
    }
}

.utilisation {
    margin-left: 100px;
    @media screen and (max-width:890px) {
        margin-left: 50px;
    }
}

.betes {
    margin-right: 100px;
    @media screen and (max-width:890px) {
        margin-right: 50px;
    }
}

// index section div titre
.titre2 {
    text-align: center;
    color: green;
    font-size: 30px;
    @media screen and (max-width:890px) {
        margin-top: 0px;
    }
}

// index images et liens
.lien-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-accueil {
    width: 50px;
    height: 50px;
}

//index images composteur animation
.img-index {
    width: 70px;
    height: 70px;
    position: absolute;
    @media screen and(max-width:820px) {
        width: 50px;
        height: 50px;
    }
}

.trognon {
    top: -400px;
    left: 0;
    animation: trognonTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 1200ms;
    @media screen and(max-width:820px) {
        top: -520px;
        left: 330px;
        animation: trognonMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1200ms;
        z-index: 1;
    }
}

.salade {
    top: -300px;
    left: -100px;
    animation: saladeTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 2600ms;
    @media screen and(max-width:820px) {
        top: -520px;
        left: 0;
        animation: saladeMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 2600ms;
    }
}

.poisson {
    top: -200px;
    left: -100px;
    animation: poissonTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 2200ms;
    @media screen and(max-width:820px) {
        top: -520px;
        left: 80px;
        animation: poissonMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 2200ms;
    }
}

.orange {
    top: -100px;
    left: -50px;
    animation: orangeTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;
    @media screen and(max-width:820px) {
        top: -520px;
        left: 160px;
        animation: orangeMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1800ms;
        z-index: 2;
    }
}

.paille {
    top: -400px;
    right: 0;
    animation: pailleTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    @media screen and(max-width:820px) {
        top: -590px;
        left: 0;
        animation: pailleMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1000ms;
    }
}

.coquilles {
    top: -300px;
    right: -100px;
    animation: oeufTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
    z-index: 1;
    @media screen and(max-width:820px) {
        top: -590px;
        left: 80px;
        animation: oeufMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 2000ms;
    }
}

.carton {
    top: -200px;
    right: -100px;
    animation: cartonTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 2400ms;
    @media screen and(max-width:820px) {
        top: -590px;
        left: 160px;
        animation: cartonMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 2400ms;
    }
}

.cafe {
    top: -100px;
    right: -50px;
    animation: cafeTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 1400ms;
    @media screen and(max-width:820px) {
        top: -590px;
        left: 240px;
        animation: cafeMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1400ms;
    }
}

.banane {
    top: -250px;
    left: 50px;
    animation: bananeTranslate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 1600ms;
    z-index: 1;
    @media screen and(max-width: 1020px) {
        left: -10px;
        animation: bananeTab 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1600ms;
    }
    @media screen and(max-width:820px) {
        top: -520px;
        left: 240px;
        animation: bananeMobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1600ms;
    }
}

.carton2 {
    top: -250px;
    right: 50px;
    animation: carton2Translate 600ms;
    animation-fill-mode: forwards;
    animation-delay: 2800ms;
    @media screen and(max-width: 1020px) {
        right: 30px;
        animation: carton2Tab 600ms;
        animation-fill-mode: forwards;
        animation-delay: 2800ms;
    }
    @media screen and(max-width:820px) {
        top: -590px;
        left: 330px;
        animation: carton2Mobile 600ms;
        animation-fill-mode: forwards;
        animation-delay: 2800ms;
    }
}


.container-img-index {
    position: relative;
    width: 800px;
    margin-top: 30px;
    @media screen and(max-width: 1020px) {
        width: 600px;
    }
    @media screen and(max-width:820px) {
        width: 400px;
        margin-top: 80px;
    }
}


#text-index > p {
    text-align: center;
}

// PAGE GESTES 
.image-geste {
    width: 10rem;
}

.tuto {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 60px;
    @media screen and (max-width:950px) {
        flex-direction: column;
        align-items: center;
    }
}

.brasser, .verser {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: black solid;
    border-radius: 30px;
    padding: 10px;
    @media screen and (max-width:950px) {
        width: 80%;
    }
}

.verser > h3 {
    font-size: 25px;
    align-self: center;
}

.brasser > h3 {
    font-size: 25px;
    align-self: center;
}

.verser > p {
    margin-bottom: 50px;
    align-self: center;
}

.brasser > p {
    margin-bottom: 50px;
    align-self: center;
}

.num > p {
    margin-top: -1px;
    padding-top: 10px;
}

// page betes photos
.photo {
    width: 200px;
    height: 150px;
}

.photo-bete {
    width: 200px;
    height: 150px;
    border-radius: 30px;
}

// page betes paragraphes
.section-bete {
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width:950px) {
        padding-top: 30px;
    }
}

.bete {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
    margin: 30px;
    @media screen and (max-width:870px) {
        width: 90%;
    }
    @media screen and (max-width:580px) {
        flex-direction: column;
        align-items: center;
    }
}

.explication {
    width: 60%;
    margin-left: 20px;
    @media screen and (max-width:580px) {
        width: 80%;
        margin-left: 0;
        text-align: center;
    }
}

// page utilisation photos
#section-utilisation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.photo-utilisation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    @media screen and (max-width:500px) {
        flex-direction: column;
        align-items: center;
    }
}

.photo-utilisation-double {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    @media screen and (max-width:990px) {
        width: 30%;
        height: auto;
    }
    @media screen and (max-width:500px) {
        width: 60%;
    }
}

.photo-utilisation-seule {
    width: 40%;
    height: 300px;
    @media screen and (max-width:990px) {
        width: 30%;
    }
    @media screen and (max-width:500px) {
        width: 70%;
        display: contents;
    }
}

.photo3 {
    height: 560px;
    margin: 20px;
    border-radius: 30px;
    @media screen and (max-width:990px) {
        height: 440px;
    }
    @media screen and (max-width:880px) {
        height: 340px;
    }
    @media screen and (max-width:730px) {
        height: 240px;
    }
}

.photo1, .photo2 {
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    @media screen and (max-width:990px) {
        height: 200px;
    }
    @media screen and (max-width:880px) {
        height: 150px;
    }
    @media screen and (max-width:730px) {
        height: 100px;
    }
    @media screen and (max-width:500px) {
        height: 150px;
    }
    @media screen and (max-width:330px) {
        height: 100px;
    }
}

// page utilisation paragraphe
.utilisation-paragraphe {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 70%;
}

//page recherche
#content-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.paragraph-search > p {
    text-align: center;
}

.div-input-search {
    display: flex;
    flex-direction: row;
}

#search {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: none;
    padding: 7px;
    color: green;
    font-weight: 600;
    cursor: auto;
}

#button-search {
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(0, 128, 0, 0.041);
    font-weight: 600;
}

#search-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.indication {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indication > p {
    font-size: 20px;
}

.indication img {
    width: 30px;
    height: 30px;
}

#section-msg-error {
    padding-bottom: 60px;
    padding-top: 10px;
}

.msg-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.msg-error > p {
    text-align: center;
    color: red;
    font-weight: 600;
    margin: 5px;
}

.msg-error > p a {
    color: red;
    text-decoration: underline;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border: antiquewhite solid 3px;
    border-radius: 120px;
    padding: 20px;
}

.itemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    // border-radius: 100px;
}

.pContent {
    text-align: center;
    width: 80%;
}

//Contact
#contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
}

#contact-content > .titre {
    background-color: white;
}

.contact-perso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    @media screen and (max-width:530px) {
        width: 90%;
    }
}

.contact-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.img-contact-equipe {
    display: flex;
    width: 150px;
    height: 150px;
    border: black 3px solid;
    border-radius: 100%;
}

.img-contact-equipe > img {
    width: 150px;
    object-fit: contain;
    border-radius: 100%;
}

.contact-equipe {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scale: 0.9;
    transition-duration: 200ms;
}

.contact-equipe:hover {
    scale: 1;
}

.p-contact {
    text-align: center;
}

.liens-contacts-pros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.div-contact-pro {
    width: 33%;
    @media screen and (max-width:800px) {
        width: 50%;
    }
    @media screen and (max-width:530px) {
        width: 100%;
    }
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: green;
    text-align: center;
}

.liens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.div-liens-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-liens-contacts > a {
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.div-liens-contacts > a:hover {
    text-decoration: underline;
}


//page ok
#section-ok {
    padding-top: 30px;
}

//page intermédiaire oui/non
#section-compostable-med {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.compostable-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    @media screen and (max-width:900px) {
        width: 100%;
    }
}

.compostable, .non-compostable {
    border-radius: 30px;
    padding: 20px;
    background-color: antiquewhite;
    width: 33%;
    @media screen and (max-width:600px) {
        width: 80%;
        margin-bottom: 20px;
    }
}

.compostable > a:hover {
    text-decoration: underline;
}

.non-compostable > a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

//Page actus
#actu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
}

.actus {
    display: flex;
    flex-direction: column;
    width: 90%;
    &-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        border: green solid 2px;
        border-radius: 30px;
        @media screen and (max-width:800px) {
            flex-direction: column;
        }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            &-item {
                width: 250px;
                border-radius: 30px;
                @media screen and (max-width:1000px) {
                    width: 200px;
                }
                @media screen and (max-width:800px) {
                    width: 150px;
                }
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 70%;
            @media screen and (max-width:800px) {
                width: 90%;
                align-items: center;
            }
            & > p {
                @media screen and (max-width:800px) {
                    text-align: center;
                }
            }
            &-contact > a {
                text-decoration: underline;
                color: black;
                &:hover {
                    color: green;
                }
            }
        }
    }
}

//QUIZZ
//mise en forme de l'affichage des bonnes réponses après validation du quizz
.bonneRep1, .bonneRep2, .bonneRep3, .bonneRep4, .bonneRep5, .bonneRep6, .bonneRep7, .bonneRep8, .bonneRep9, .bonneRep10 {
    display: none;
    font-style: italic;
    font-weight: 200;
    border: grey solid 1px;
    border-radius: 30px;
    padding-left: 7px;
}

//bouton validation quizz
.containButton {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#boutonForm {
    margin: 16px;
    width: 90px;
    border-radius: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
    border: green;
    cursor: pointer;
}

//mise en forme de l'affichage du message personnalisé en fonction du résultat
#total {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.msgPerso {
    text-align: center;
}


//PAGE TOUS LES QUIZZ
#tousLesQuizz {
    margin-bottom: 30px;
}

.tousLesQuizz {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.quizz {
    display: flex;
    width: 25%;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: center;
    padding: 10px;
    @media screen and(max-width:950px) {
        width: 40%;
    }
    @media screen and(max-width:500px) {
        width: 80%;
    }
}

.lienTest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
    color: black;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}

.imgquizz {
    width: 100px;
    height: 100px;
}

.container-imgpagequizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgpagequizz {
    width: 150px;
    height: 150px;
}

.pquizz {
    margin-top: -20px;
    font-style: italic;
    font-size: smaller;
}

input {
    cursor: pointer;
}

select {
    cursor: pointer;
}