// index section
#content1 {
    display: flex;
    align-items: center;
    margin-top: 100px;
    @media screen and (max-width:890px) {
        flex-direction: column;
        margin-top: 50px;
    }
}

#content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width:890px) {
        flex-direction: column;
    }
}

#content3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.text-welcome {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    // background-color: darkseagreen;
    &-title {
        font-size: 28px;
        text-align: center;
    }
    &-paragraph {
        font-size: 19px;
        font-weight: 600;
        text-align: center
    }
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        &-item {
            font-size: 19px;
            padding: 10px;
            border: black 2px solid;
            border-radius: 20px;
            margin: 10px;
            text-align: center;
            transition-duration: 400ms;
            cursor: pointer;
            font-weight: 600;
            width: 40%;
            scale: 0.9;
            text-decoration: none;
            color: black;
            &:hover {
                box-shadow: black 1px 1px 7px;
                scale: 1;
                // background-color: green;
            }
        }
    }
}

#index-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

// index section div
.contenu {
    background-color: white;
    display: flex;
    width: 30%;
    margin: 70px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    box-shadow: black 1px 1px 7px;
    padding: 20px;
    @media screen and (max-width:1010px) {
        margin: 50px;
    }
    @media screen and (max-width:890px) {
        width: 60%;
        padding: 5px;
    }
}

.contenu2 {
    background-color: white;
    display: flex;
    width: 50%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    box-shadow: black 1px 1px 7px;
    padding: 20px;
    @media screen and (max-width:1010px) {
        margin: 50px;
    }
    @media screen and (max-width:890px) {
        width: 60%;
        padding: 5px;
    }
}

.utilisation {
    margin-left: 100px;
    @media screen and (max-width:890px) {
        margin-left: 50px;
    }
}

.betes {
    margin-right: 100px;
    @media screen and (max-width:890px) {
        margin-right: 50px;
    }
}

// index section div titre
.titre2 {
    text-align: center;
    color: green;
    font-size: 30px;
    @media screen and (max-width:890px) {
        margin-top: 0px;
    }
}

// index images et liens
.lien-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-accueil {
    width: 50px;
    height: 50px;
}

// page gestes 
.image-geste {
    width: 10rem;
}

.tuto {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-top: 30px;
    @media screen and (max-width:950px) {
        flex-direction: column;
        align-items: center;
    }
}

.brasser, .verser {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: black solid;
    border-radius: 30px;
    padding: 10px;
    @media screen and (max-width:950px) {
        width: 80%;
    }
}

.verser > h3 {
    font-size: 25px;
    align-self: center;
}

.brasser > h3 {
    font-size: 25px;
    align-self: center;
}

.verser > p {
    margin-bottom: 50px;
    align-self: center;
}

.brasser > p {
    margin-bottom: 50px;
    align-self: center;
}

.num > p {
    margin-top: -1px;
    padding-top: 10px;
}

// page betes photos
.photo {
    width: 200px;
    height: 150px;
}

.photo-bete {
    width: 200px;
    height: 150px;
    border-radius: 30px;
}

// page betes paragraphes
.section-bete {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    @media screen and (max-width:950px) {
        margin-left: 50px;
        margin-top: 30px;
    }
    @media screen and (max-width:580px) {
        margin-left: 20px;
    }
}

.bete {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
    margin: 30px;
    @media screen and (max-width:870px) {
        width: 90%;
    }
    @media screen and (max-width:580px) {
        flex-direction: column;
        align-items: center;
    }
}

.explication {
    width: 60%;
    margin-left: 20px;
    @media screen and (max-width:580px) {
        width: 80%;
        margin-left: 0;
        text-align: center;
    }
}

// page utilisation photos
#section-utilisation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-utilisation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    @media screen and (max-width:500px) {
        flex-direction: column;
        align-items: center;
    }
}

.photo-utilisation-double {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    @media screen and (max-width:990px) {
        width: 30%;
        height: auto;
    }
    @media screen and (max-width:500px) {
        width: 60%;
    }
}

.photo-utilisation-seule {
    width: 40%;
    height: 300px;
    @media screen and (max-width:990px) {
        width: 30%;
    }
    @media screen and (max-width:500px) {
        width: 70%;
        display: contents;
    }
}

.photo3 {
    height: 560px;
    margin: 20px;
    border-radius: 30px;
    @media screen and (max-width:990px) {
        height: 440px;
    }
    @media screen and (max-width:880px) {
        height: 340px;
    }
    @media screen and (max-width:730px) {
        height: 240px;
    }
}

.photo1, .photo2 {
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    @media screen and (max-width:990px) {
        height: 200px;
    }
    @media screen and (max-width:880px) {
        height: 150px;
    }
    @media screen and (max-width:730px) {
        height: 100px;
    }
    @media screen and (max-width:500px) {
        height: 150px;
    }
    @media screen and (max-width:330px) {
        height: 100px;
    }
}

// page utilisation paragraphe
.utilisation-paragraphe {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 70%;
}

//page recherche
#content-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph-search > p {
    text-align: center;
}