@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apparition1 {
  font-size: 30px;
  opacity: 0;
  animation: apparition 2000ms 500ms;
  animation-fill-mode: forwards;
}

.apparition2 {
  opacity: 0;
  animation: apparition 500ms 1500ms;
  animation-fill-mode: forwards;
}

.apparition3 {
  opacity: 0;
  animation: apparition 500ms 1500ms;
  animation-fill-mode: forwards;
}

.apparition4 {
  opacity: 0;
  animation: apparition 500ms 2800ms;
  animation-fill-mode: forwards;
}

.apparition5 {
  opacity: 0;
  animation: apparition 500ms 3100ms;
  animation-fill-mode: forwards;
}

.apparition6 {
  opacity: 0;
  animation: apparition 500ms 3400ms;
  animation-fill-mode: forwards;
}

.textIndex {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.labelInput {
  margin-top: 40px;
  margin-bottom: 20px;
}

.inputText {
  border: black 2px solid;
  border-radius: 20px;
  padding: 5px;
}

body {
  background-color: rgba(0, 128, 0, 0.548);
  max-width: 1920px;
  margin: 0 auto;
}

#pageAccueil {
  background-color: white;
}

a {
  text-decoration: none;
  width: 100%;
}

.titreHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 128, 0, 0.548);
}
@media screen and (max-width: 730px) {
  .titreHeader {
    flex-direction: column;
  }
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: green 1px solid;
}

.ongletMenu {
  padding: 10px;
}

.ongletMenu:hover {
  border-top: lightcoral 4px solid;
  background-color: lemonchiffon;
}

.lienMenu {
  color: green;
}

.titreMenu {
  text-align: center;
}

.disposition-titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.img-header {
  width: 5%;
}

.titre-header {
  font-family: "Shrikhand";
  font-size: 50px;
  color: white;
  text-align: center;
  width: 90%;
}

@media screen and (max-width: 600px) {
  .titre-header {
    width: 100%;
    margin-left: 0px;
    font-size: 35px;
  }
}
@media screen and (max-width: 340px) {
  .titre-header {
    font-size: 25px;
  }
}

.fleche {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 600px) {
  .fleche {
    padding-right: 20px;
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 340px) {
  .fleche {
    width: 25px;
    height: 25px;
  }
}

.image-header {
  width: 5rem;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 730px) {
  .image-header {
    display: none;
  }
}

.img-media-query {
  display: none;
}
@media screen and (max-width: 730px) {
  .img-media-query {
    display: block;
    display: flex;
    flex-direction: row;
  }
}

.img-header-media {
  width: 5rem;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 730px) {
  .img-header-media {
    margin: 0;
  }
}

.contenu-accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 50px;
}

.footer-index {
  background-color: rgba(0, 128, 0, 0.548);
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image-compost {
  width: 12rem;
  margin-left: 200px;
  margin-right: 200px;
}

.contact {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}

.logo-fb, .logo-mail {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mail, .fb {
  display: flex;
  width: 50%;
  align-items: center;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 650px) {
  .mail, .fb {
    width: 90%;
  }
}
@media screen and (max-width: 315px) {
  .mail, .fb {
    flex-direction: column;
    font-size: 10px;
  }
}

.fb {
  justify-content: flex-end;
  margin-right: 20px;
}
@media screen and (max-width: 650px) {
  .fb {
    margin-right: 0;
    justify-content: center;
  }
}

.mail {
  justify-content: flex-start;
  margin-left: 20px;
}
@media screen and (max-width: 650px) {
  .mail {
    margin-left: 0;
    justify-content: center;
  }
}

.p-footer {
  text-decoration: underline;
}

.img-ok {
  width: 20rem;
}
@media screen and (max-width: 340px) {
  .img-ok {
    width: 15rem;
  }
}
@media screen and (max-width: 260px) {
  .img-ok {
    width: 10rem;
  }
}

.img-non {
  width: 10rem;
}

.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titre > h2 {
  text-align: center;
}

.titre-ok, .titre-non, .titre-geste {
  margin-top: -20px;
  font-size: 25px;
}
@media screen and (max-width: 600px) {
  .titre-ok, .titre-non, .titre-geste {
    font-size: 20px;
    text-align: center;
  }
}

.oui, .non {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
@media screen and (max-width: 340px) {
  .oui, .non {
    margin-top: 50px;
  }
}

.cercle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 100px;
}

.ok {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 25%;
  margin: 30px;
}
@media screen and (max-width: 1080px) {
  .ok {
    width: 35%;
    margin: 20px;
  }
}
@media screen and (max-width: 750px) {
  .ok {
    width: 70%;
  }
}
@media screen and (max-width: 560px) {
  .ok {
    width: 85%;
  }
}

.image-ok {
  width: 100px;
}
@media screen and (max-width: 340px) {
  .image-ok {
    width: 70px;
  }
}

.etape {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-content: center;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .etape {
    flex-direction: column;
  }
}

.num {
  border-radius: 100%;
  background-color: seagreen;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 20px;
  font-size: 30px;
}
@media screen and (max-width: 450px) {
  .num {
    margin-right: 0;
  }
}

.des {
  width: 60%;
  background-color: seagreen;
  border-radius: 30px;
  margin-left: 20px;
  padding: 10px;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .des {
    margin-left: 0;
    font-size: 17px;
    width: 80%;
  }
}
@media screen and (max-width: 340px) {
  .des {
    font-size: 15px;
  }
}

#content1 {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 890px) {
  #content1 {
    flex-direction: column;
    margin-top: 50px;
  }
}

#content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 890px) {
  #content2 {
    flex-direction: column;
  }
}

.contenu {
  background-color: white;
  display: flex;
  width: 30%;
  margin: 70px;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  box-shadow: black 1px 1px 7px;
  padding: 20px;
}
@media screen and (max-width: 1010px) {
  .contenu {
    margin: 50px;
  }
}
@media screen and (max-width: 890px) {
  .contenu {
    width: 60%;
    padding: 5px;
  }
}

.contenu2 {
  background-color: white;
  display: flex;
  width: 50%;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  box-shadow: black 1px 1px 7px;
  padding: 20px;
}
@media screen and (max-width: 1010px) {
  .contenu2 {
    margin: 50px;
  }
}
@media screen and (max-width: 890px) {
  .contenu2 {
    width: 60%;
    padding: 5px;
  }
}

.utilisation {
  margin-left: 100px;
}
@media screen and (max-width: 890px) {
  .utilisation {
    margin-left: 50px;
  }
}

.betes {
  margin-right: 100px;
}
@media screen and (max-width: 890px) {
  .betes {
    margin-right: 50px;
  }
}

.titre2 {
  text-align: center;
  color: green;
  font-size: 30px;
}
@media screen and (max-width: 890px) {
  .titre2 {
    margin-top: 0px;
  }
}

.lien-accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-accueil {
  width: 50px;
  height: 50px;
}

.image-geste {
  width: 10rem;
}

.tuto {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin-top: 30px;
}
@media screen and (max-width: 950px) {
  .tuto {
    flex-direction: column;
    align-items: center;
  }
}

.brasser, .verser {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 30px;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  border: black solid;
  border-radius: 30px;
  padding: 10px;
}
@media screen and (max-width: 950px) {
  .brasser, .verser {
    width: 80%;
  }
}

.verser > h3 {
  font-size: 25px;
  align-self: center;
}

.brasser > h3 {
  font-size: 25px;
  align-self: center;
}

.verser > p {
  margin-bottom: 50px;
  align-self: center;
}

.brasser > p {
  margin-bottom: 50px;
  align-self: center;
}

.num > p {
  margin-top: -1px;
  padding-top: 10px;
}

.photo {
  width: 200px;
  height: 150px;
}

.photo-bete {
  width: 200px;
  height: 150px;
  border-radius: 30px;
}

.section-bete {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (max-width: 950px) {
  .section-bete {
    margin-left: 50px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 580px) {
  .section-bete {
    margin-left: 20px;
  }
}

.bete {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  margin: 30px;
}
@media screen and (max-width: 870px) {
  .bete {
    width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .bete {
    flex-direction: column;
    align-items: center;
  }
}

.explication {
  width: 60%;
  margin-left: 20px;
}
@media screen and (max-width: 580px) {
  .explication {
    width: 80%;
    margin-left: 0;
    text-align: center;
  }
}

#section-utilisation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-utilisation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 500px) {
  .photo-utilisation {
    flex-direction: column;
    align-items: center;
  }
}

.photo-utilisation-double {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 600px;
}
@media screen and (max-width: 990px) {
  .photo-utilisation-double {
    width: 30%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .photo-utilisation-double {
    width: 60%;
  }
}

.photo-utilisation-seule {
  width: 40%;
  height: 300px;
}
@media screen and (max-width: 990px) {
  .photo-utilisation-seule {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .photo-utilisation-seule {
    width: 70%;
    display: contents;
  }
}

.photo3 {
  height: 560px;
  margin: 20px;
  border-radius: 30px;
}
@media screen and (max-width: 990px) {
  .photo3 {
    height: 440px;
  }
}
@media screen and (max-width: 880px) {
  .photo3 {
    height: 340px;
  }
}
@media screen and (max-width: 730px) {
  .photo3 {
    height: 240px;
  }
}

.photo1, .photo2 {
  height: 300px;
  margin: 20px;
  border-radius: 30px;
}
@media screen and (max-width: 990px) {
  .photo1, .photo2 {
    height: 200px;
  }
}
@media screen and (max-width: 880px) {
  .photo1, .photo2 {
    height: 150px;
  }
}
@media screen and (max-width: 730px) {
  .photo1, .photo2 {
    height: 100px;
  }
}
@media screen and (max-width: 500px) {
  .photo1, .photo2 {
    height: 150px;
  }
}
@media screen and (max-width: 330px) {
  .photo1, .photo2 {
    height: 100px;
  }
}

.utilisation-paragraphe {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 70%;
}

/*# sourceMappingURL=style2.css.map */
